
html {
    background-color:white;
    background-image: url(bg11.jpg);
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    margin-bottom: 0%;
    /* background-color: blue; */
    width: 90%;
}

#header {
   background-color: rgba(3, 38, 92, 0.3) ;
   text-align: center;
   color: rgba(250,235,215,1);
   
}

#header h2 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px;
    margin-bottom: -1%;
    font-family: tahoma,calibri;
    font-size: 2em;
    color: 
    

}

#header p {
    margin: 0;
    padding-left: 23%;
}



@media screen and (min-width: 769px){
    .container {
        background-color: red;
    }
}


